
body {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23520000' stroke-width='4.3'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23520000'%3E%3Ccircle cx='769' cy='229' r='13'/%3E%3Ccircle cx='539' cy='269' r='13'/%3E%3Ccircle cx='603' cy='493' r='13'/%3E%3Ccircle cx='731' cy='737' r='13'/%3E%3Ccircle cx='520' cy='660' r='13'/%3E%3Ccircle cx='309' cy='538' r='13'/%3E%3Ccircle cx='295' cy='764' r='13'/%3E%3Ccircle cx='40' cy='599' r='13'/%3E%3Ccircle cx='102' cy='382' r='13'/%3E%3Ccircle cx='127' cy='80' r='13'/%3E%3Ccircle cx='370' cy='105' r='13'/%3E%3Ccircle cx='578' cy='42' r='13'/%3E%3Ccircle cx='237' cy='261' r='13'/%3E%3Ccircle cx='390' cy='382' r='13'/%3E%3C/g%3E%3C/svg%3E");}
.Todo {
    color: #131313;
    width: 100%;
    height: 100%;
}
.Cabecera {
    color: #4e0303;
    width: 99%;
    height: 100%;
    margin-top: 50%;
    margin: 0 auto;
    background-color: #1B0000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23520000' stroke-width='2'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23520000'%3E%3Ccircle cx='769' cy='229' r='13'/%3E%3Ccircle cx='539' cy='269' r='13'/%3E%3Ccircle cx='603' cy='493' r='13'/%3E%3Ccircle cx='731' cy='737' r='13'/%3E%3Ccircle cx='520' cy='660' r='13'/%3E%3Ccircle cx='309' cy='538' r='13'/%3E%3Ccircle cx='295' cy='764' r='13'/%3E%3Ccircle cx='40' cy='599' r='13'/%3E%3Ccircle cx='102' cy='382' r='13'/%3E%3Ccircle cx='127' cy='80' r='13'/%3E%3Ccircle cx='370' cy='105' r='13'/%3E%3Ccircle cx='578' cy='42' r='13'/%3E%3Ccircle cx='237' cy='261' r='13'/%3E%3Ccircle cx='390' cy='382' r='13'/%3E%3C/g%3E%3C/svg%3E");
    border-radius: 5px;
    font-family: Retro_Titulo;
}
.Cabecera p {
    margin: 0 auto;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 6.5vw;
}
.How {
    padding-left: 1%;
    width: 6%;
    padding-top: 0.5%;
}
.Roms {
    width: 6%;
    padding-top: 0.5%;
    padding-left: 0.3%;
}
.How input {
    color: #4e0303;
    text-align: center;
    padding-bottom: 0%;
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 5px;
    border: none;
    font-family: Retro_Titulo;
    font-size: 1.8vw;
}
.Roms input {
    color: #4e0303;
    text-align: center;
    padding-bottom: 0%;
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 5px;
    border: none;
    font-family: Retro_Titulo;
    font-size: 1.8vw;
}
.How input:hover {
    background-color: #1B0000;
    color: white;
}
.Roms input:hover {
    background-color: #1B0000;
    color: white;
}
.Centro {
    color: black;
    margin: 0 auto;
    width: 80%;
    height: 100%;
}
.abc {
    margin: 0 auto;
    font-family: Retro_Titulo;
    -webkit-transform: skew(-20deg);
     -moz-transform: skew(-20deg);
     -ms-transform: skew(-20deg);
     -o-transform: skew(-20deg);
     transform: skew(-20deg);
     height: 100%;
     width: 100%;
     margin: 0 auto;
     margin-left: 10%;
     text-align: center;
     z-index: -1;
}
.abc input {
    font-family: Retro_Titulo;
    border-radius: 5px;
    height: 40px;
    width: 2.8%;
    float: left;
    margin-left: 0.5%;
    z-index: -1;
    font-size: 1.8vw;
    border: transparent;
}
.abc input:hover {
    background-color: #530000;
    color: white;
}
.consolas {
    background-color: #ffffff;
    border-radius: 10px;
    width: 18%;
    height: 14%;
    transition: transform .2s;
    margin-right: 4%;
    margin-left: 2%;
    margin-bottom: 12%;
    margin-top: 4%;
}
.consolas:hover {
    transform: scale(1.5);
}
.juegos {
    border-radius: 10px;
}
@font-face {
    font-family: "Retro_Titulo";
    src: url(".//Fuentes/Retro_Titulo.ttf");
}
.Botones1 {
    display: flex;
    color: #4e0303;
    -webkit-transform: skew(-10deg);
     -moz-transform: skew(-10deg);
     -ms-transform: skew(-10deg);
     -o-transform: skew(-10deg);
     transform: skew(-10deg);
    font-size: 34px;
    border: none;
    font-family: Retro_Titulo;
}
